<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-6 col-md-6 justify-content-center text-center">
      <h3>Project 629 Final Project</h3>
      <h5>Team Members</h5>
      <div>Yuqing Yang (yyang74@syr.edu)</div>
      <div>Hengbo Cai (hcai04@syr.edu)</div>
      <div>Dawen Liang (dliang02@syr.edu)</div>
    </div>
    <div class="col-6 col-md-6 justify-content-center">
      <p>
        Our project is a website that imitates the blockchain game called "Cryptokitties". It allows users to trade their
        ETH for our custom token with other users through blockchain.
      </p>
    </div>
  </div>
</div>